*{
    padding: 0;
    margin: 0;
}

#main {
    padding: 10px;
    width: 900px;
    margin: 5px auto;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#main h1 {
    text-align: center;
}
fieldset {
    padding: 10px;
}

#main p {
    padding: 5px;
}

#btn-enviar {
    padding: 5px;
    margin: 15px;
}