* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#titulo h1 {
    padding: 15px;
    text-align: center;
    
    color: white;
}

#galeria img{
    margin: 5px;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin: 10px;
}

#visualizador {
    padding: 10px;
    text-align: center;
}
