* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
    padding: 20px;
    width: 900px;
    margin: 10px auto;
    font-size: 20px;
    color: RGB(76, 86, 106);

}

#main h1{
    padding: 10px;
    margin: 15px;
    text-align: center;
    color: RGB(0, 139, 139);
    
}

#entrada {
    margin: 10px 0;
    
}

#tabela th, #tabela td {
    padding: 5px;
    text-align: center;
    width: 150px;
}

table {
    margin: 5px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(88, 88, 88);
}

th {
    background-color:RGB(0, 139, 139);
    color: white;
}
#quant-repositorio {
    text-align: center;
}

#entrada {
    text-align: center;
}

input {
    height: 20px;
    font-size: 15;
}

button {
    padding: 5px;
}